@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
} 

.navbar.hide{
    display: none;
}

#myName{
    float: left;
}

.navbar li{
    float: right;
}

.navbar li a{
    text-decoration: none;
    display: inline-block;
    color: #343838;
    text-align: center;
    padding: 2vh 2vw;
}

.navbar li a:hover{
    background-color: #008c9e;
    color: white;
}

#icon{
    display: none;
}

@media screen and (max-width:600px){
    
    .navbar li{
        display: none;
    }
    
    #myName{
        display: inline-block;
    }
    
    #icon{
        display: inline-block;
        padding: 0 5vw;
    }
    
}

.header{
    clear: both;
    height: 100vh;
    background-image: url(../images/img1.jpg);
    color: #343838;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header h1, .header h3{
    margin: 2px auto;
    padding: 0 4px;
    background-color: #008c9e;
}
