@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.header{
    height: 100vh;
    background-image: url(../images/poppy.jpg);
    color: white;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header h1, .header h3{
    margin: 0;
}
